.row {
    @mixin clearfix;
    & > div {
        float: left;
    }
    &--gutters {
        margin-right: -65px;
        & > div {
            padding-right: 65px;
        }
        &-large {
            margin-right: -100px;
            & > div {
                padding-right: 100px;
            }
        }
    }
    &__b-margin-until-medium {
        margin-bottom: 1rem;

    }
    @mixin atMedium {
        &__b-margin-until-medium {
            margin-bottom: 0;
        }
        &__medium4 {
            width: 33%;
            &--larger {
                width: 37%;
            }
        }
        &__medium6 {
            width: 50%;
        }
        &__medium8 {
            width: 66%;
            &--smaller {
                width: 63%;
            }
        }
    }
}